.loading {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  &__card {
    margin: 16px 8px;
    flex: 0 0 auto;
    flex-basis: calc(50% - 16px);
    max-width: calc(50% - 16px);

    @media screen and (min-width: 768px) {
      flex-basis: calc(33.3333333333% - 16px);
      max-width: calc(33.3333333333% - 16px);
    }
  }
}
