.container {
  width: 100%;
}

.skeletonBox {
  display: inline-block;
  height: 20px;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
  border-radius: 4px;
  margin-top: 4px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(#fff, 0) 0, rgba(#fff, 0.2) 20%, rgba(#fff, 0.5) 60%, rgba(#fff, 0));
    animation: shimmer 2s infinite;
    content: "";
  }

  &__image {
    margin-top: 0;
    height: 35vw;
    max-height: 250px;
    min-height: 100px;

    @media screen and (min-width: 768px) {
      height: 23vw;
    }
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
